services:

  db:
    image: postgres
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_DB: app_db
      POSTGRES_USER: example
      POSTGRES_PASSWORD: example
    ports:
      - "5432:5432"

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"

  backend:
    image: openjdk:17
    container_name: backend
    working_dir: /app
    volumes:
      - ./backend:/app
    command: java -jar app.jar
    depends_on:
      - db
    ports:
      - "8081:8081"

  frontend:
    image: nginx
    container_name: frontend
    volumes:
      - ./frontend:/usr/share/nginx/html
    ports:
      - "8082:80"

  nginx-proxy:
    image: nginx
    container_name: nginx-proxy
    depends_on:
      - backend
      - frontend
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
